/* Estilos generales */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* Estilos del encabezado */
header {
    background-color: #710eaa;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: auto;
    padding: 15px;
}

/* Títulos de secciones */
h2 {
    color: #710eaa;
    border-bottom: 2px solid #710eaa;
    padding-bottom: 5px;
}


.exercise {
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-left: 4px solid #710eaa;
}

.exercise h3 {
    color: #710eaa;
}

/* Estilo para todas las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
}

/* Efecto al pasar sobre la imagen enlace */
a img {
    transition: transform 0.3s ease;
}
a img:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(227, 36, 84, 0.3);
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #710eaa;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para el iframe */
iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilo del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Estilos para texto enfatizado */
em {
    color: #710eaa;
}

strong {
    color: #333;
}